[submodule "SUB"]
	path = SUB
	url = https://github.com/AshokPhoton/SubProject.git
[submodule "NewSubProject"]
	path = NewSubProject
	url = ../SubProject.git
[submodule "LocalSubModule"]
	path = LocalSubModule
url=https://github.com/AshokPhoton/SubProject.git
